<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../css/style-3d.css">
  </head>
  <body>
    <script src="../js/three.min.js"></script>
    <script src="{{script-path}}"></script>
  </body>
</html>
