<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <style>
      body {
        margin: 0;
        overflow: hidden;
        cursor: none;
      }
      canvas {
        width: 100%;
        height: 100%
      }
    </style>
  </head>
  <body>
    <script>
{{script}}
    </script>
    <div id="display-container">
      <canvas id="display"></canvas>
    </div>
  </body>
</html>
