<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Like That</title>
    <link rel="stylesheet" href="./css/bulma.min.css">
  </head>
  <body>
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Like That</h1>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
{{list}}
        <br>
        <p><b>NOTE:</b> The mouse cursor will be hidden on each of the above
          pages.</p>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <p><small><i><b>"Like That"</b>, 1996-2019, Rob Myers.</i></small></p>
      </div>
    </section>
  </body>
</html>
